<div class="item" > 


	<div class="tabs">
			<p>DPS Agra follows the syllabus as prescribed by the CBSE.  The scheme of subjects may be changed by the school as required/advised by the CBSE. No change of subjects is permitted in Grade XII.</p>

				<p>Students who pass the All India Secondary School Curriculum (Grade X) do not automatically qualify for Admission to Grade XI.  The school reserves the right to refuse admission to any student whose conduct or academic performance is not up to the mark.</p>


			



		

			<div class="allSubject">
				<div class="item">
					<h2 style="color:#e67904">SCIENCE STREAM</h2>
					<h3>Group - A: </h3>
					<ul>
						<li>Physics</li>
						<li>Chemistry</li>
						<li>Mathematics</li>
						<li>Computer Science/Physical Education/ Biotech./Painting</li>
					</ul>	

					<h3>Group - B: </h3>
					<ul>
						<li>Physics</li>
						<li>Chemistry</li>
						<li>Biology</li>
						<li>Physical Education / Biotech/Painting</li>
					</ul>		
					
				</div>

				<div class="item">
					<h2 style="color:#c40676">COMMERCE STREAM</h2>
					<h3>Group - A: </h3>
					<ul>
						<li>Business Studies</li>
						<li>Accountancy</li>
						<li>Economics</li>
						<li>Mathematics</li>
					</ul>	

					<h3>Group - B: </h3>
					<ul>		

						<li>Business Studies</li>
						<li>Accountancy</li>
						<li>Economics</li>
						<li>Multimedia & Web Technology/Physical Education/ Painting/Legal Studies/Enterpreneurship</li>
					</ul>				
					
				</div>

				<div class="item">
					
					<h2 style="color:#358a53">HUMANITIES STREAM</h2>
					<h3>Group - A: </h3>



					<ul>
						<li>History</li>
						<li>Political Science</li>
						<li>Economics/Geography</li>
						<li>Physical Education/Painting/Legal Studies</li>
					</ul>
				</div>
			</div>
		
	</div>	

	

</div>