<div class="holder">
	<div class="inner">
		<div class="headingImg"><img src="../../../../assets/img/home/dps_edge.png" alt=""></div>
		<h4 class="aStrong text-center">A strong foundation built on values, traditions and relationships.</h4>
		<br>

		<div class="left">
			<ul class="tab">
				<li><a  (click)="run('DPS_Society')"  [ngClass]="{'animated infinite pulse':mainActBtn=='DPS_Society'}">DPS Society</a></li>
				<li><a  (click)="run('Why_DPS')" [ngClass]="{'animated infinite pulse':mainActBtn=='Why_DPS'}">Why DPS</a></li>
				<li><a  (click)="run('our_offer')" [ngClass]="{'animated infinite pulse':mainActBtn=='our_offer'}">Our Offer</a></li>
				<li><a  (click)="run('Our_Curriculum') " [ngClass]="{'animated infinite pulse':mainActBtn=='Our_Curriculum'}">Our Curriculum</a></li>
				<li><a  (click)="run('Our_Pedagog') " [ngClass]="{'animated infinite pulse':mainActBtn=='Our_Pedagog'}">Our Pedagogy</a></li>
				<li><a  (click)="run('Beyond_Academi') " [ngClass]="{'animated infinite pulse':mainActBtn=='Beyond_Academi'}">Beyond Academia</a></li>
				<li><a  (click)="run('Evaluation')" [ngClass]="{'animated infinite pulse':mainActBtn=='Evaluation'}">Evaluations</a></li>
			</ul>
		</div>

	
		<!-- //dps society -->
		<div class="right" *ngIf="DPS_Society">			
			<div class="card imgs"><img src="../../../../assets/img/home/dps_edge/dps_society/01.jpg" alt=""></div>
			<div class="card">
				<p >The Delhi Public School Society has come a long way since it was established in 1949. 
				</p>
			</div>
			<div class="card imgs"><img src="../../../../assets/img/home/dps_edge/dps_society/02.jpg" alt=""></div>
			<div style="clear: both"></div>
			<div class="card">
				<p >With over 200 DPSs spread across the globe, the Society has been extremely successful in meeting its objective of providing quality education. </p>
			</div>
			<div class="card imgs"><img src="../../../../assets/img/home/dps_edge/dps_society/03.jpg" alt=""></div>
			<div class="card">
				<p >The DPS Society has been committed to a non-profit, non-proprietary pursuit of educational excellence since it was set up. </p>
			</div>
			<div style="clear: both"></div>
			<div class="card imgs"><img src="../../../../assets/img/home/dps_edge/dps_society/04.jpg" alt=""></div>
			<div class="card">
				<p >In doing so, the Society has provided education to all by contributing to individual and national progress.</p>
			</div>
			<div class="card imgs"><img src="../../../../assets/img/home/dps_edge/dps_society/05.jpg" alt=""></div>	
			<div style="clear: both"></div>
		</div>






		<!-- //Why DPS-->
		<div class="right" *ngIf="Why_DPS">			
			<div class="card imgs"><img src="../../../../assets/img/home/dps_edge/why_dps/01.jpg" alt=""></div>
			<div class="card">
				<p >Delhi Public Schools, managed by The Delhi Public School Society, East of Kailash, New Delhi are one of the largest chains in public schools in India and abroad with over 200 members. Over a period of sixty years DPS has gathered experience and knowledge in managing K-12 education as few others have.
				</p>
			</div>
			<div class="card imgs"><img src="../../../../assets/img/home/dps_edge/why_dps/02.jpg" alt=""></div>
			<div style="clear: both"></div>
			<div class="card">
				<p > This depth finds reflection in the way education is imparted in our schools.
				DPS believes in not just educating but in nurturing each student as the leader for tomorrow- a fact borne out by the eminence of the alumni of this chain all over the globe.</p>
			</div>
			<div class="card imgs"><img src="../../../../assets/img/home/dps_edge/why_dps/03.jpg" alt=""></div>
			<div class="card">
				<p > The vision with which we started the school has taken a definite shape now. Not only have our efforts, to give the students, a world class quality education, been recognized within the city but we are also leaving our mark on the skylines of Formal Education in the country.</p>
			</div>
			<div style="clear: both"></div>
			<div class="card imgs"><img src="../../../../assets/img/home/dps_edge/why_dps/04.jpg" alt=""></div>
			<div class="card">
				<p >DPS Agra has been ranked the best school of Agra by Education World, a renowned education  magazine. The school proudly occupies the 17th place among all DPSs, based on CBSE AISSCE (Grade XII) Results 2016-17. Our students have carved a distinct niche for themselves, being in the top 10 ranks in various streams, among all DPSs, in the AISSCE Results.</p>
			</div>
			<div class="card imgs"><img src="../../../../assets/img/home/dps_edge/why_dps/05.jpg" alt=""></div>	
			<div style="clear: both"></div>
		</div>




	


		<!-- //Our Offer-->
		<div class="right" *ngIf="Our_Offer">
			<div class="card imgs"><img src="../../../../assets/img/home/dps_edge/our_offer/01.jpg" alt=""></div>
			<div class="card">
				<p >DPS promises to deliver world-class holistic education to its students: education that imparts knowledge by instilling confidence. 
				</p>
			</div>
			<div class="card imgs"><img src="../../../../assets/img/home/dps_edge/our_offer/02.jpg" alt=""></div>
			<div style="clear: both"></div>
			<div class="card">
				<p >Students are encouraged to ask questions instead of merely answering them because we believe that a curious mind is the receptacle of learning. We allow young children to explore because we believe that learning cannot be confined within the four walls of the classroom and that there is no better teacher than nature.  </p>
			</div>
			<div class="card imgs"><img src="../../../../assets/img/home/dps_edge/our_offer/03.jpg" alt=""></div>
			<div class="card">
				<p >We have embraced technology and innovation with an open mind because children of this millennium must master technology and not become its slave. Our efforts are backed by the ergonomic and scientifically designed campuses which are a learning space. </p>
			</div>
			<div style="clear: both"></div>
			<div class="card imgs">	 <img src="../../../../assets/img/home/dps_edge/our_offer/04.jpg"></div>
			<div class="card">
				<p >Emphasis has been laid on utilizing natural resources to the fullest. Students are taught the importance of environmental conservation through conscious minimizing and recycling of waste making the school a zero-tolerant zone for plastic poly-bags.</p>
			</div>
			<div class="card imgs">	<img src="../../../../assets/img/home/dps_edge/our_offer/05.jpg"></div>		
			<div style="clear: both"></div>
		</div>

		


		<!-- //Our_Curriculum-->
		<div class="right" *ngIf="Our_Curriculum">
			<div class="card imgs"><img src="../../../../assets/img/home/dps_edge/our_curriculum/01.JPG" alt=""></div>
			<div class="card">
				<p >The curriculum at our School assimilates the best from various sources and inspirations. There is a sustained balance between theoretical and practical knowledge imparted to students in their best academic interest. 
				</p>
			</div>
			<div class="card imgs"><img src="../../../../assets/img/home/dps_edge/our_curriculum/02.jpg" alt=""></div>
			<div style="clear: both"></div>
			<div class="card">
				<p >A plethora of co-scholastic and co-curricular activities are integrated with the mainstream curriculum, to ensure holistic development of our scholars.  </p>
			</div>
			<div class="card imgs"><img src="../../../../assets/img/home/dps_edge/our_curriculum/03.jpg" alt=""></div>
			<div class="card">
				<p >This empowers the children to unfurl their creativity and apply the acquired cognitive skills into real life situations, thereby letting them embark on a journey of self-discovery. </p>
			</div>
			<div style="clear: both"></div>
			<div class="card imgs"><img src="../../../../assets/img/home/dps_edge/our_curriculum/04.jpg" alt=""></div>
			<div class="card">
				<p >To promote stress free and non-coercive learning, homework and assignment content are minimal but thought provoking.</p>
			</div>
			<div class="card imgs"><img src="../../../../assets/img/home/dps_edge/our_curriculum/05.jpg" alt=""></div>	
			<div style="clear: both"></div>
		</div>

		




 
		






		
		<!-- //Our Pedagogy-->
		<div class="right" *ngIf="Our_Pedagogy">			
			<div class="card">
				<p >Each teacher on our campus plays multiple roles which extend to being a friend, philosopher and mentor to the young inquisitive minds and souls. 
				</p>
			</div>
			<div class="card imgs"><img src="../../../../assets/img/home/dps_edge/our_pedagogy/01.jpg" alt=""></div>
			<div class="card">
				<p >DPS believes that 'a satisfied teacher is a good teacher' and to ensure this, teachers are put through various re-skilling and training programs conducted on and off campus.   </p>
			</div>
			<div style="clear: both"></div>
			<div class="card imgs"><img src="../../../../assets/img/home/dps_edge/our_pedagogy/02.jpg" alt=""></div>			
			<div class="card">
				<p >DPS is modelled on the concept of a holistic educational institution designed to promote physical, mental and social development. A carefully planned academic and non-academic curriculum ensures a thorough understanding of basic concepts, thus laying a strong foundation for a sound education.</p>
			</div>
			<div class="card imgs"><img src="../../../../assets/img/home/dps_edge/our_pedagogy/03.jpg" alt=""></div>						
			<div style="clear: both"></div>
			
			<div class="card">
				<p >At DPS we encourage every student to participate in cultural, literary and social activities on and off campus. Activity periods built into the curriculum open avenues of exploration and pursuit of hobbies. 
				</p>
			</div>
			<div class="card imgs"><img src="../../../../assets/img/home/dps_edge/our_pedagogy/04.jpg" alt=""></div>						
			<div class="card">
				<p >Impetus to sports encourages participation in various indoor and outdoor sporting disciplines fostering team spirit, loyalty and unity– the essential components of the learning process. </p>
			</div>
			
			<div style="clear: both"></div>
		</div>

		



		
		<!-- //Beyond Academia-->
		<div class="right" *ngIf="Beyond_Academia">
			<div class="card imgs"><img src="../../../../assets/img/home/dps_edge/beyond_academic/01.jpg" alt=""></div>
			<div class="card">
				<p >A healthy body and a mind that can appreciate nuances of aesthetics in nature and diverse human activity are essential requisites of a balanced human being. 
				</p>
			</div>
			<div class="card imgs"><img src="../../../../assets/img/home/dps_edge/beyond_academic/02.jpg" alt=""></div>
			<div style="clear: both"></div>
			<div class="card">
				<p >To facilitate that, the school’s calendar contains a host of co-curricular activities that cover a very wide spectrum of events round the year. Performing and visual arts, sports and games, environmental studies, meditation and yoga are practiced as a part of the routine.</p>
			</div>
			<div class="card imgs"><img src="../../../../assets/img/home/dps_edge/beyond_academic/03.jpg" alt=""></div>
			<div class="card">
				<p > Thematic events are organised at regular intervals. Children are exposed to real world experience through interaction with the community.  </p>
			</div>
			<div style="clear: both"></div>
			<div class="card imgs"><img src="../../../../assets/img/home/dps_edge/beyond_academic/04.jpg" alt=""></div>
			<div class="card">
				<p >Trips and excursions to places of historical and social importance make them aware and informed. They also get opportunities to interact with experts and resource persons from various fields of human endeavour. </p>
			</div>
			<div class="card imgs"><img src="../../../../assets/img/home/dps_edge/beyond_academic/05.jpg" alt=""></div>	
			<div style="clear: both"></div>
		</div>



		
		<!-- //Evaluations-->
		<div class="right" *ngIf="Evaluations">
			<div class="card imgs"><img src="../../../../assets/img/home/dps_edge/evaluations/01.jpg" alt=""></div>
			<div class="card">
				<p >Evaluation for us is sacrosanct and not merely a tool to judge the capacity of a child to memorize printed information. 
				</p>
			</div>
			<div class="card imgs"><img src="../../../../assets/img/home/dps_edge/evaluations/02.jpg" alt=""></div>
			<div style="clear: both"></div>
			<div class="card">
				<p >Evaluation is done via aptitude and skill-based tests. These are used to understand every individual's learning curve, capabilities and optimize each student's study program. </p>
			</div>
			<div class="card imgs"><img src="../../../../assets/img/home/dps_edge/evaluations/03.jpg" alt=""></div>
			<div class="card">
				<p >Evaluation also includes areas such as essential life skills, conceptual development, personal attributes, social, emotional and behavioral development, work habits, etc. … </p>
			</div>
			<div style="clear: both"></div>
			<div class="card imgs"><img src="../../../../assets/img/home/dps_edge/evaluations/04.jpg" alt=""></div>
			<div class="card">
				<p >…thereby incorporating in true spirit the vision of CBSE.</p>
			</div>
			<div class="card imgs"><img src="../../../../assets/img/home/dps_edge/evaluations/05.jpg" alt=""></div>		
			<div style="clear: both"></div>
		</div>








	</div>
	<div style="clear:both"></div>
</div>
