<!-- service before self -->

<div class="selfBeforeService">
	<div class="container-fluid">
		<div class="row ">
			<div class="col-sm-11 mx-auto">
				<div class="row">
					<div class="col-sm-12">						
						<p style="line-height: 44px"><i>
							Dear Parents and Students,<br>

							It is with great pleasure that we welcome you to our school website. <br>

							Keeping pace with the fast changing world is a new challenge.  Besides the three R’s – Reading, Writing & Arithmetic, 21st century skills the 4 C’s - Creativity, Critical thinking, Communication, and Collaboration have become necessary. 
							In an era where we are heading towards ‘Technological Singularity’, it becomes more important to review what is happening in our classrooms. The question is, “Are we preparing our children for the change?” <br>
							
							
							<a (click)="readMore()" *ngIf="!more"><u>Read More</u></a>
							
							<span *ngIf="more" >
								After lots of research and brainstorming deliberations, we have finally come up with a futuristic curriculum which gives scope to the students to work in teams, solve problems, research, present and collaborate with rest of the world. 
								DPS Agra strives to ensure wholesome participation in the extensive range of co-curricular activities thereby creating a learning environment where every child is able to reach their full potential and achieve the highest of standards.<br>

								With a long and rewarding history of scholastic and co-scholastic achievements, our school community continues to ameliorate with confidence, pride and enthusiasm.<br>

								Hopefully this website gives you lots of information about the school, as well as a flavor of the wonderful whole school initiative like conducive environment, immersive learning and peer critique on our journey towards an ‘Ethic of Excellence’ in all that we do. You are encouraged to regularly check our website and have a glimpse of our exciting academic and exhilarating co-curricular advancements. Looking forward to serve you always…
							</span>

						</i></p>
					</div>
					
				</div>
			</div>
		</div>
		
	</div>
</div>




