<div class="logoBackfd" id="achiverSec">
	<div class="holder achiver">
		<div class="inner">
			<div class="headingImg"><img src="../../../../assets/img/home/student_achiver.png" alt=""></div>
			<h4  style="font-family: 'Qwigley', cursive; font-size: 4em; text-align: center;letter-spacing: 2px;">The success story continues...</h4>		
			<div class="achiverHolder animated fadeIn" *ngIf="tenth">			
				<div class="item" style="box-shadow: 2px 2px 2px #e7cc80; border: 1px solid #d29500;">
					<span class="awardIcon">
						<img src="../../../../assets/img/home/achiver/goldAward.png" alt="" class=" animated infinite swing">					
					</span>

					<div class="photo">
						<img src="../../../../assets/img/home/achiver/1.jpg" alt="">
					</div>
					<div class="cont">		
						<ul>					
							<li style="color: #d29500">Ashwarya Agarwal</li>
							<li>98%</li>
							<li>Class - 10TH</li>						
						</ul>
					</div>

					<div class="toper">
						District & City Topper
					</div>
				</div>
				<div class="item" style="box-shadow: 2px 2px 2px #a0a0a0; border: 1px solid #a0a0a0;">
					<span class="awardIcon">
						<img src="../../../../assets/img/home/achiver/silver.png" alt="">					
					</span>
					<div class="photo">
						<img src="../../../../assets/img/home/achiver/2.jpg" alt="">
					</div>
					<div class="cont">

						<ul>					
							<li style="color: #a0a0a0">Manvi Dialani</li>
							<li>96.6%</li>
							<li>Class - 10TH</li>

						</ul>
					</div>
				</div>
				<div class="item" style="box-shadow: 2px 2px 2px #a5764e; border: 1px solid #a5764e;">
					<span class="awardIcon">
						<img src="../../../../assets/img/home/achiver/brown.png" alt="">					
					</span>
					<div class="photo">
						<img src="../../../../assets/img/home/achiver/3.jpg" alt="">
					</div>
					<div class="cont">

						<ul>					
							<li style="color: #a5764e">Shashwat Pandey</li>
							<li>97.2%</li>
							<li>Class - 10TH</li>
						</ul>
					</div>
				</div>

					<div class="item" style="box-shadow: 2px 2px 2px #a5764e; border: 1px solid #a5764e;">
					
					<div class="photo">
						<img src="../../../../assets/img/home/achiver/4.jpg" alt="">
					</div>
					<div class="cont">

						<ul>					
							<li >Ishaan Pachauri</li>
							<li>97%</li>
							<li>Class - 10TH</li>
						</ul>
					</div>
				</div>


						<div class="item" style="box-shadow: 2px 2px 2px #a5764e; border: 1px solid #a5764e;">
					
					<div class="photo">
						<img src="../../../../assets/img/home/achiver/5.jpg" alt="">
					</div>
					<div class="cont">

						<ul>					
							<li >Manhar Dixit</li>
							<li>96.8%</li>
							<li>Class - 10TH</li>
						</ul>
					</div>
				</div>

				<br>
					<!-- <a  style="color: #213f49" (click)="showAll()" *ngIf="!all">View More</a> -->
					<a  style="color: red" (click)="showAll()" *ngIf="all">Close</a>
				<div class="tenthAll" *ngIf="all">					
					<img src="../../../../assets/img/home/achiver/all.jpg">
				</div>
			</div>



			<div class="achiverHolder animated fadeIn" *ngIf="twelth">
				<div class="item">
					<span class="awardIcon">
						<img src="../../../../assets/img/home/achiver/goldAward.png" alt="" class=" animated infinite swing">					
					</span>
					<div class="photo">
						<img src="../../../../assets/img/home/achiver/12/01.jpg" alt="">
					</div>
					<div class="cont">

						<ul>					
							<li style="color: #d29500">Tegh Singh Makar</li>
							<li>96.8%</li>
							<li>Science</li>
							<li>Class - 12TH</li>
						</ul>
					</div>
				</div>
				<div class="item">
					<span class="awardIcon">
						<img src="../../../../assets/img/home/achiver/silver.png" alt="" >					
					</span>
					<div class="photo">
						<img src="../../../../assets/img/home/achiver/12/02.jpg" alt="">
					</div>
					<div class="cont">

						<ul>					
							<li style="color: #a0a0a0">Mann Bansal</li>
							<li>96.4%</li>
							<li>Commerce</li>
							<li>Class - 12TH</li>
						</ul>
					</div>
				</div>
				<div class="item">
					<span class="awardIcon">
						<img src="../../../../assets/img/home/achiver/brown.png" alt="" >					
					</span>
					<div class="photo">
						<img src="../../../../assets/img/home/achiver/12/03.jpg" alt="">
					</div>
					<div class="cont">
							<ul>					
							<li style="color: #a5764e">Tanmay Gupta</li>
							<li>95.4%</li>
							<li>Science</li>
							<li>Class - 12TH</li>
						</ul>
					</div>
				</div>

				<div class="item">
					<div class="photo">
						<img src="../../../../assets/img/home/achiver/12/04.jpg" alt="">
					</div>
					<div class="cont">
							<ul>					
							<li>Gaurvi Mittal</li>
							<li>95.4%</li>
							<li>Commerce</li>
							<li>Class - 12TH</li>
						</ul>
					</div>
				</div>


				<div class="item">
					<div class="photo">
						<img src="../../../../assets/img/home/achiver/12/05.jpg" alt="">
					</div>
					<div class="cont">
							<ul>					
							<li>Amogh Agarwal</li>
							<li>95.4%</li>
							<li>Commerce</li>
							<li>Class - 12TH</li>
						</ul>
					</div>
				</div>



			</div>
			<div style="clear: both"></div>
			<div class="btns achiverBtn">
				<span (click)="achiver('10')" [ngClass]="{'active':tenth}">10th Class</span>
				<span (click)="achiver('12')" [ngClass]="{'active':twelth}">12th Class</span>
			</div>
		</div>
		<div style="clear:both"></div>
	</div>




</div>