	<div class="bannerNew">
		<div class="innerNew">
			<div class="leftItem"><img src="../../assets/img/innerBanner/about_us/about.png" alt=""></div>
			<div class="rightItem"><img src="../../../assets/img/aboutUs/logo_text.png" alt=""></div>
		</div>
	</div>




	<div class="principal">
		<div class="leftPhot">
			<img src="../../assets/img/principal-pic.png" class="w-8"alt="">

		</div>
		<div class="mesag" id="msg">
			
			<h2  style="margin-bottom: 35px">From Principal's Desk</h2>					
			<p>Dear Parents and Students,</p>
			<p>
				
				It is with great pleasure that we welcome you to our school website. </p>
			
			<p>
				<b> <i>"The secret of change is to focus all of your energy, not on fighting the old, but on building the new." — Socrates </i></b></p>
			
			<p>
				Keeping pace with the fast changing world is a new challenge.  Besides the three R’s – Reading, Writing & Arithmetic, 21st century skills the 4 C’s - Creativity, Critical thinking, Communication, and Collaboration have become necessary. We are observing very fast changes where new ideas are creating disruptive changes, and many things are getting obsolete at a greater pace. Many jobs and courses have become obsolete and in the next few years the changes are going to be accelerated. In an era where we are heading towards ‘Technological Singularity’, it becomes more important to review what is happening in our classrooms. The question is, “Are we preparing our children for the change?”</p>
			<p>
			After lots of research and brainstorming deliberations, we have finally come up with a futuristic curriculum, which aims more at research and collaborative learning. The curriculum gives scope to the students to work in teams, solve problems, research, present and collaborate with rest of the world. 
			</p>
			<p>
			<b> <i>“Leadership and learning are indispensable to each other.” – John F. Kennedy</i></b>
		</p>
		<p>	
		The school provides a challenging academic environment emphasizing learning as well as social and personal growth.  DPS Agra strives to ensure wholesome participation in the extensive range of co-curricular activities thereby creating a learning environment where every child is able to reach their full potential and achieve the highest of standards.
	</p>

	<p>
			With a long and rewarding history of scholastic and co-scholastic achievements, our school community continues to ameliorate with confidence, pride and enthusiasm.
		</p>

		<p>
			Hopefully this website gives you lots of information about the school, as well as a flavor of the wonderful whole school initiative like conducive environment, immersive learning and peer critique on our journey towards an ‘Ethic of Excellence’ in all that we do. You are encouraged to regularly check our website and have a glimpse of our exciting academic and exhilarating co-curricular advancements. Looking forward to serve you always…
		</p>
				
			
			
		</div>
	</div>


	<div class="aboutDPS" id="aboutUs">
		<h2>About DPS Agra</h2>
		<p>
			Delhi Public School Agra, since its inception in April 2002, with its motto ‘Service before Self’ has come a long way. It began with 40 teachers and 540 students. Today we are a flourishing family of 4232 students and 213 teachers. The school, with the state of the art infrastructure, has 
		</p>
		<ul style="line-height: 27px;">			
			<li>a spacious sports complex</li>
			<li>yoga hall</li>
			<li>recording studio </li>
			<li>science labs</li>
			<li>in-house infirmary </li>
			<li>auditorium</li>
		</ul>
		<p>
			The school under the aegis of The Delhi Public School Society – East of Kailash, New Delhi is committed to impart to its students the 21 century skills of 4Cs i.e. Creativity, Critical thinking, Communication, and Collaboration. The school has beautifully adapted itself to the changing role of teacher, who is no longer the fountain of all knowledge but has the task to teach students how to process the massive amount of information available. The students over the years have done us proud. They have made a niche for themselves in India as well as abroad, thus making their alma mater a force to be reckoned with.
			
		</p>

		<div class="imgHolder">
			<div class="leftSide">
				<img src="../../../assets/img/aboutUs/junior.jpg" alt="">
				<h3>DPS Agra Foundation Campus</h3>
			</div>
			<div class="rightSide">
				<img src="../../../assets/img/aboutUs/senior.jpg" alt="">
				<h3>DPS Agra Senior Campus</h3>
			</div>
		</div>

	</div>




	<div class="moto">
		<h2>Motto : Service Before Self</h2>			
		<p>The aim of the school is to provide holistic education; based on Indian culture and tradition.</p>
		<p>The goal of DPS Agra is to provide opportunities to all its students to develop into confident, competent and global citizens in all the four growth areas: Emotional, Social, Intellectual, and Physical</p>

		<div class="group">
			<div class="leftSideMoto">
				<h2>Objectives:</h2>
				<ul>
					<li>Teaching children how to learn</li>
					<li>how to connect their learning in one discipline to another</li>
					<li>developing curiosity and providing time and encouragement to students to follow their own passion </li>

				</ul>

			</div>

			<div class="rightSideMoto">
				<h2>Our Goals</h2>
				<p>We, at DPS Agra, besides preparing students for CBSE at Grades X and XII level endeavour to impart holistic education and make all possible efforts to give to society well groomed, sensible, sensitive, tech-savvy citizens who despite learning the pragmatism of the West are well imbued in the Indian values and culture.</p>


			</div>
		</div>
		
	</div>

	<!-- #00d7de -->


	
	<div style="clear: both;"></div>

	<!-- mileStone -->
	<div class="container-fluid" id="milestone">
		<div class="row p-5">
			<div class="col-sm-11 mx-auto">
				<h2>Our Milestones</h2>
				<div class="mileStone">		

					<img src="../../../assets/img/aboutUs/Milestone_101.png" alt="">				
				</div>
			</div>	
		</div>				
	</div>



	<div class="container"  id="milestoneMob">
		<div class="row mt-4">
			<div class="col-sm-12">
				<h2>Our Milestones</h2>
			</div>
		</div>	

	</div>
	<!-- milestone for mobile	 -->


	 
	 
	 
	 
	 
	




	<div class="container-fluid" id="milestoneMob">
		<div class="row p-5">
			<div class="milForMob">
				<div class="holder first" >
					<span  class="year left eleven" style="background: #61a48b">2001</span>
					<div>
						<p>Foundation stone laid</p>						

					</div>
				</div>


				<div class="holder evn" >
					<span  class="year right twelve" style="background: #ad3b66">2002</span>
					<div>
						<p>	First session with 540 students, 40 teachers and 5 buses</p>
						
					</div>
				</div>


				<div class="holder first" >
					<span  class="year left thirteen" style="background: #f58a28">2003</span>
					<div>
						<p>Upgraded to Grade VIII. Foundation stone of Shastripuram Campus laid.
						</p>

					</div>
				</div>


				<div class="holder evn" >
					<span  class="year right fourteen" style="background: #43c0cb">2004</span>
					<div>
						<p>Senior Campus at Shastripuram for grades IV to VIII.  Shiksha Kendra for the under-privileged introduced.</p>
					</div>
				</div>


				<div class="holder first" >
					<span  class="year left fifteen" style="background: #f15929">2005</span>
					<div>
						<p>First batch of Grade- X (AISSE)</p>
					</div>
				</div>

				<div class="holder evn" >
					<span  class="year right sixteen" style="background: #61a48b">2006</span>
					<div>
						<p>Eco-friendly CNG buses introduced.  A fleet of 82 buses at present.</p>
					</div>
				</div>

				<div class="holder first" >
					<span  class="year left seventeen"  style="background: #ad3b66">2007</span>
					<div>
						<p>Entire school Smart Class equipped.</p>
					</div>
				</div>


				<div class="holder evn" >
					<span  class="year right eighteen" style="background: #f58a28">2008</span>
					<div>
						<p>First batch of Grade XII (Science and Commerce) AISSCE</p>
					</div>
				</div>



				<div class="holder first" >
					<span  class="year left seventeen"  style="background: #ad3b66">2009</span>
					<div>
						<p>New Block – C with 30 classrooms erected at Shastripuram.</p>
					</div>
				</div>


				<div class="holder evn" >
					<span  class="year right eighteen" style="background: #f58a28">2010</span>
					<div>
						<p>	Two International Standard Tennis Courts constructed. 18 new subjects added at +2</p>
						
					</div>
				</div>

				<div class="holder first" >
					<span  class="year left seventeen"  style="background: #ad3b66">2011</span>
					<div>
						<p>		 State of the art, Music and Dance department constructed at Shastripuram.
						</p>
						



					</div>
				</div>


				<div class="holder evn" >
					<span  class="year right eighteen" style="background: #f58a28">2012</span>
					<div>
						<p>	 		First batch of Humanities
						</p>
						
					</div>
				</div>




			<div class="holder first" >
					<span  class="year left seventeen"  style="background: #ad3b66">2014</span>
					<div>
						<p>		 One among the 20 privileged CBSE schools to introduce Legal Studies and Theatre Studies

						</p>
					</div>
			</div>

 
			<div class="holder evn" >
					<span  class="year right eighteen" style="background: #f58a28">2016</span>
					<div>
						<p>	From Desktops to Laptops</p>						
					</div>
				</div>
			</div>


			<div class="holder first" >
					<span  class="year left seventeen"  style="background: #ad3b66">2017</span>
					<div>
						<p>	100 feet Flag post installed, tallest in Agra</p>
					</div>
			</div>

			
			<div class="holder evn" >
					<span  class="year right eighteen" style="background: #f58a28">2018</span>
					<div>
						<p>	The Entire Campus Air-Conditioned. The Face-lift of the Admin Block.</p>						
					</div>
				</div>
			</div>




		</div>
