<div class="item" > 
	<div class="tabs">
		<ul style=" margin: 50px 0">
			<li (click)="run(1)"> <a [ngClass]="{'animated infinite bounce':one}" >THE TEACHER-TAUGHT BOND</a></li>
			<li (click)="run(2)"> <a [ngClass]="{'animated infinite bounce':two}" >SCHOOL-PARENT PARTNERSHIP</a></li>
			<li (click)="run(3)"> <a [ngClass]="{'animated infinite bounce':three}" >CONTRIBUTING CITIZENS</a></li>			
			<li (click)="run(4)"> <a [ngClass]="{'animated infinite bounce':four}" >A COMPREHENSIVE TRINITY</a></li>			
		</ul>
	</div>	


	<div class="contentHolder" *ngIf="one">
		<div >
			<p>The relationship between a teacher and the child is the very basis of the child’s security and happiness in school. In this relationship, the child is allowed to relax and express his/her views. The teacher responds and guides the child, constantly focusing on his/her strengths and special needs and also bearing in mind the child’s learning curve
</p>
		</div>
		<div class="img-holder">
			<!-- <div class="imgArea">
				<img src="https://www.publicboard.ca/school/giles/Style%20Library/Images/SchoolImage.jpg" alt="">
			</div>			
			<div class="imgArea">
				<img src="https://www.publicboard.ca/school/giles/Style%20Library/Images/SchoolImage.jpg" alt="">
			</div>			
			<div class="imgArea">
				<img src="https://www.publicboard.ca/school/giles/Style%20Library/Images/SchoolImage.jpg" alt="">
			</div>			
			<div class="imgArea">
				<img src="https://www.publicboard.ca/school/giles/Style%20Library/Images/SchoolImage.jpg" alt="">
			</div>	 -->

		</div>
	</div>


	<div class="contentHolder" *ngIf="two">
		<div >
			<p>The most valuable asset of a parent is his child and undoubtedly he/she is also the soul of the school. The DPS system of education is a close partnership between home and school. There is a variety of productive ways in which parents are encouraged to associate with the school in providing the best possible education to their children – PTMs, Edutainment programmes, sports events are a few to mention. 
Parent-Teacher communication receives emphasis in an effort to strengthen the bridge among students, teachers and parents. Parents are encouraged to participate in orientation programmes and build meaningful relationships with teachers; thereby taking active part in their child’s learning activities.
The School portal provides the forum for teachers and parents to share insights about the child’s learning experience and performance. Inputs are provided to parents on nurturing skills, guidance for homework and general parenting. </p>
		</div>
	</div>



	<!--school library -->
	<div class="contentHolder" *ngIf="three">
		<div >
			<p>Formal education is of little importance unless it contributes to a better life for the community at large. Every Dipsite is proud to lend his/her hand in creating a better environment in and out of school. Children at DPS Agra are introduced to environmental issues like conservation of water and electricity, planting trees and saying ‘no to crackers’. Students are also encouraged to improve community living through various projects such as sanitation drives and vocational programmes.
  </p>
		</div>
		<div class="img-holder">
			<!-- <div class="imgArea">					
				<img src="../../../../../assets/img/home/ourInfrastructor/CONTRIBUTING_CITIZENS/01.jpg" alt="">
			
			</div>	 -->
			
			<div class="imgArea">					
					<img src="../../../../../assets/img/home/ourInfrastructor/CONTRIBUTING_CITIZENS/02.jpg" alt="">
				
				</div>

				<div class="imgArea">					
						<img src="../../../../../assets/img/home/ourInfrastructor/CONTRIBUTING_CITIZENS/03.jpg" alt="">

					
					</div>

			
	
		</div>
	</div>	<!--school library -->


	<div class="contentHolder" *ngIf="four">
		<div >
			<p>To ensure the success of the journey which begins in the classroom and goes beyond its boundaries into the real world, an unstinted participation of all stakeholders in the DPS learning process is obligatory. The students, teachers and parents need to work in tandem so that concepts and values that we all hold dear are effectively absorbed and reinforced. We wholeheartedly embrace the participation of parents in the education of their children.

  </p>
		</div>

	</div>

	























</div>