<div class="item" > 
		<p class="text-left">The curriculum is designed to ensure all round development of each student. It is comprehensive and complemented by technologically designed methodology, at all stages to foster the intellectual growth required to achieve academic success. </p>

	<p class="text-left">The medium of instruction is English and special emphasis is laid on both written and spoken English at all levels. The scheme of studies is structured and flexible and the link between Pre-Primary, Primary, Middle, Secondary and Senior Secondary stages is integrated and progressive.</p>
		

		<span class="readmore" (click)="readMoreOne()" *ngIf="!moreContentOne" style="cursor: pointer;"> Read More</span>

	
	<div class="tabs" *ngIf="moreContentOne">
		<ul style=" margin: 50px 0">
			<li (click)="run(1)"> <a [ngClass]="{'animated infinite bounce':one}" >PRE-PRIMARY</a></li>
			<li (click)="run(2)"> <a [ngClass]="{'animated infinite bounce':two}" >PRIMARY</a></li>
			<li (click)="run(3)"> <a [ngClass]="{'animated infinite bounce':three}" >MIDDLE SCHOOL</a></li>			
			<li (click)="run(4)"> <a [ngClass]="{'animated infinite bounce':four}" >SECONDARY</a></li>			
			<li (click)="run(5)"> <a [ngClass]="{'animated infinite bounce':five}" >SENIOR SECONDARY</a></li>			
		</ul>
	</div>	

	<div  class="leftSide" *ngIf="moreContentOne">
		<svg  xml:space="preserve" xmlns:xlink="http://www.w3.org/1999/xlink" enable-background="new 51.315 22.643 1367.185 875.857"  id="Layer_1" version="1.1" viewBox="51.315 22.643 1367.185 875.857" width="svgwidth" x="0px" xmlns="http://www.w3.org/2000/svg" y="0px">

			<g >
				<title >Layer 1</title>
				<g  id="piramide">
					<g  id="laag5">
						<g  filter="url(#d)" id="svg_1">
							<polygon  fill="#4169E1" points="172.966,849.13 1273.508,849.13 1389.474,733.87 329.861,733.87 				"></polygon>
						</g>
						<g  enable-background="new    " filter="url(#l)" id="svg_2" opacity="0.8">
							<polygon  fill="#4169E1" points="1396.295,1003.626 1273.508,849.13 1389.474,733.87 1535,866.296 				"></polygon>
						</g>
						<polygon  fill="#e67904" id="svg_3" points="172.966,729.13 1273.508,729.13 1396.295,883.626 57,883.626 			"></polygon>
					</g>
					<g  id="laag4">
						<g  filter="url(#d)" id="svg_4">
							<polygon  fill="#6495ED" points="311.671,645.205 1137.077,645.205 1225.757,559.374 475.388,559.374 				"></polygon>
						</g>
						<g  enable-background="new    " filter="url(#l)" id="svg_5" opacity="0.8">
							<polygon  fill="#6495ED" points="1255.316,804.606 1137.077,645.205 1225.757,559.374 1369.01,694.252 				"></polygon>
						</g>
						<polygon  fill="#c40676" id="svg_6" points="195.705,714.606 1255.316,714.606 1137.077,555.205 311.671,555.205 			"></polygon>
					</g>
					<g  id="laag3">
						<g  filter="url(#d)" id="svg_7">
							<polygon  fill="#00BFFF" points="448.102,446.186 1000.646,446.186 1057.492,389.782 602.723,389.782 				"></polygon>
						</g>
						<g  enable-background="new    " filter="url(#l)" id="svg_8" opacity="0.8">
							<polygon  fill="#00BFFF" points="1000.646,446.186 1121.16,600.683 1203.019,522.208 1059.766,389.782 				"></polygon>
						</g>
						<polygon  fill="#358a53" id="svg_9" points="332.135,540.683 1121.16,540.683 1000.646,386.186 448.102,383.733 			"></polygon>
					</g>
					<g  id="laag2">
						<g  filter="url(#d)" id="svg_10">
							<polygon  fill="#87CEFA" points="589.08,242.262 864.215,242.262 893.775,212.833 684.582,212.833 				"></polygon>
						</g>
						<g  enable-background="new    " filter="url(#l)" id="svg_11" opacity="0.8">
							<polygon  fill="#87CEFA" points="982.455,399.21 1037.027,345.259 893.775,212.833 864.215,242.262 				"></polygon>
						</g>
						<polygon  fill="#00aeef" id="svg_12" points="468.566,369.21 982.455,369.21 864.215,212.262 589.08,212.262 			"></polygon>
					</g>
					<g  id="laag1">
						<polygon  fill="#f26522" id="svg_13" points="604.997,195.286 843.751,195.286 725.511,38.337 			"></polygon>
						<g  enable-background="new    " filter="url(#l)" id="svg_14" opacity="0.8">
							<polygon  fill="#B0E0E6" points="843.751,195.286 871.037,170.763 725.511,38.337 				"></polygon>
						</g>
					</g>
				</g>
			</g>
			<text  transform="matrix(1 0 0 1 696.626 130.3545)"><tspan  fill="#FFFFFF" font-family="'MyriadPro-BoldCond'" font-size="40" x="0" y="0">SR. </tspan><tspan  fill="#FFFFFF" font-family="'MyriadPro-BoldCond'" font-size="28" x="-57.644" y="50.4">SECONDARY</tspan></text>
			<text  class="gg" fill="#FCFCFC" font-family="'MyriadPro-BoldCond'" font-size="40" transform="matrix(1 0 0 1 600 318)">SECONDARY</text>
			<text  fill="#FFFFFF" font-family="'MyriadPro-BoldCond'" font-size="40" transform="matrix(1 0 0 1 559.624 488.0215)">MIDDLE SCHOOL</text>
			<text  fill="#FFFFFF" font-family="'MyriadPro-BoldCond'" font-size="40" transform="matrix(1 0 0 1 633.7437 654.0215)">PRIMARY</text>
			<text  fill="#FFFFFF" font-family="'MyriadPro-BoldCond'" font-size="40" transform="matrix(1 0 0 1 581.3452 827.0215)">PRE-PRIMARY</text>
		</svg>
	</div>

	<div class="rightSide">
		
		<div class="contentHolder" *ngIf="one">
			<div  *ngIf="moreContentOne">
				<h3>PRE-PRIMARY STAGE - Nursery & Prep  </h3>
				<p>					
						At this stage, the focus is on facilitating development of the student's cognitive and motor skills and on providing the required exposure to children to pursue their natural curiosity and imagination in a stimulating and exciting environment. The core program of studies is enriched with art, dance, music, sports, games and other interesting scholastic and co-scholastic activities, thereby ensuring experiential learning. 
				</p>

				<a (click)="runEmp('efirst')"  *ngIf="!efirst">Read more</a>

				<p *ngIf="efirst"><b>We emphasise on-</b></p>
				<ul *ngIf="efirst">
						<li>Optimal student-teacher ratio in every section.</li>
						<li>Curriculum focuses on developing basic communication and comprehension skills.</li>
						<li>Cognitive and motor skills are developed by providing a stimulating environment.</li>
						<li>Digital technology is used to augment active and creative learning.</li>
						<li>Offered co-scholastic activities encompass everything from traditional sports such as swimming, football, hockey, cricket and athletics to more culturally oriented pursuits like dance, drama and music, along with a host of other opportunities through numerous events with 100% participation.</li>
						<li>A separate play field equipped with the most modern Jungle Gym and Chess Board.</li>
						
				</ul>

				<div class="img-holder" style="margin-top: 0">
					<div class="imgArea">
						<img src="../../../../../assets/img/home/ourInfrastructor/Stages_of_Study/Pre-Primary/01.jpg" alt="">
					</div>			
					<div class="imgArea">
						<img src="../../../../../assets/img/home/ourInfrastructor/Stages_of_Study/Pre-Primary/02.jpg" alt="">
					</div>			
					<div class="imgArea">
						<img src="../../../../../assets/img/home/ourInfrastructor/Stages_of_Study/Pre-Primary/03.jpg" alt="">
					</div>			
					<div class="imgArea">
						<img src="../../../../../assets/img/home/ourInfrastructor/Stages_of_Study/Pre-Primary/04.jpg" alt="">
					</div>		

				</div>
			</div>
		</div>


		<div class="contentHolder" *ngIf="two">
			<div >
				<h3>PRIMARY - Grades 1 to 5: </h3>
				<p>At this level emphasis is on a development based curriculum and students are taught the essential concepts of the subjects. The progress of each student is monitored closely and regular assessments are conducted, the results of which are communicated to the respective parents, thus building a partnership between them and the school. </p>		
				<a (click)="runEmp('esecond')" *ngIf="!esecond">Read more</a>
				<p *ngIf="esecond"><b>We emphasise on-</b></p>	
				<ul *ngIf="esecond">
						<li>Development based curriculum for learning essential concepts of all the subjects.</li>
						<li>Conducive teaching-learning environment.</li>
						<li>Focus is laid on developing positive attitude, healthy habits and values like dignity, honest and morality.</li>
						<li>Innovative use of technology for providing differentiated, diverse and creative learning experiences. </li>
						<li>Well-stocked library that provides quality information and leisure reading material.  </li>
						<li>Offered co-scholastic activities encompass everything from traditional sports such as swimming, skating, lawn tennis, yoga, football, hockey, cricket and athletics to more culturally oriented pursuits like art, dance, drama and music, along with a host of other opportunities through numerous events with 100% participation.</li>
						<li>A separate play field equipped with the most modern Jungle Gym and Chess Board.</li>
						<li>Regular assessments to understand and record every student’s learning curve and capabilities; and to provide a way forward for progress.</li>
						<li>Emphasis is laid on developing a positive attitude and healthy habits among students. They are also sensitized to the importance of dignity, honesty and morality during their schooling at DPS Agra.</li>
						
				</ul>

				<div class="img-holder" style="margin-top: 0">
					<div class="imgArea">
						<img src="../../../../../assets/img/home/ourInfrastructor/Stages_of_Study/primary/01.jpg" alt="">
					</div>			
					<div class="imgArea">
						<img src="../../../../../assets/img/home/ourInfrastructor/Stages_of_Study/primary/02.jpg" alt="">
					</div>	
						<div class="imgArea">
						<img src="../../../../../assets/img/home/ourInfrastructor/Stages_of_Study/primary/03.jpg" alt="">
					</div>	
						<div class="imgArea">
						<img src="../../../../../assets/img/home/ourInfrastructor/Stages_of_Study/primary/04.jpg" alt="">
					</div>								

				</div>

			</div>
		</div>

		<div class="contentHolder" *ngIf="three">
			<div >
				<h3>MIDDLE SCHOOL - Grades 6 to 8:  </h3>

				<p>During this three-year period the student's intellectual, aesthetic, physical and cultural growth and development are intensified and extended to a foundation course, designed to suit students from all educational backgrounds. A smooth transition from childhood to adolescence is facilitated by imparting comprehensive value and need based education. </p>

				
				<div class="img-holder" style="margin-top: 0">
					<div class="imgArea">
						<img src="../../../../../assets/img/home/ourInfrastructor/Stages_of_Study/middle/01.jpg" alt="">
					</div>			
					<div class="imgArea">
						<img src="../../../../../assets/img/home/ourInfrastructor/Stages_of_Study/middle/02.jpg" alt="">
					</div>	
											

				</div>

			</div>

		</div>

		<!--school library -->
		<div class="contentHolder" *ngIf="four">
			<div >
				<h3>SECONDARY - Grades 9 & 10:  </h3>

				<p>This two year period takes students into the top gear as they develop both depth and breadth of context in theory and application. Personalized attention is envisaged at this stage to prepare the students to face the All India Secondary School Curriculum and Assessment under the Central Board of Secondary Education, New Delhi. </p>

				<div class="img-holder" style="margin-top: 0">
					<div class="imgArea">
						<img src="../../../../../assets/img/home/ourInfrastructor/Stages_of_Study/secondary/01.jpg" alt="">
					</div>			
					<div class="imgArea">
						<img src="../../../../../assets/img/home/ourInfrastructor/Stages_of_Study/secondary/2.jpg" alt="">
					</div>	
					<div class="imgArea">
						<img src="../../../../../assets/img/home/ourInfrastructor/Stages_of_Study/secondary/03.jpg" alt="">
					</div>	
					<div class="imgArea">
						<img src="../../../../../assets/img/home/ourInfrastructor/Stages_of_Study/secondary/04.jpg" alt="">
					</div>	
											

				</div>
			</div>
			
		</div>

		<!--learning disablity -->
		<div class="contentHolder" *ngIf="five">
			<div >
				<h3>SENIOR SECONDARY - Grades 11 & 12</h3>
				<p>This is the plus two stage in the 10+2 pattern of education leading to the All India Secondary School Certificate Examination (AISSCE) conducted by the Central Board of Secondary Education, New Delhi. The school offers three main streams i.e., Science, Commerce and Humanities.  </p>			
	
			</div>

			<div class="img-holder" style="margin-top: 0">
				<div class="imgArea">
					<img src="../../../../../assets/img/home/ourInfrastructor/Stages_of_Study/senior_secondary/01.jpg" alt="">
				</div>			
				<div class="imgArea">
					<img src="../../../../../assets/img/home/ourInfrastructor/Stages_of_Study/senior_secondary/02.jpg" alt="">
				</div>	
				<div class="imgArea">
					<img src="../../../../../assets/img/home/ourInfrastructor/Stages_of_Study/senior_secondary/03.jpg" alt="">
				</div>	
				<div class="imgArea">
					<img src="../../../../../assets/img/home/ourInfrastructor/Stages_of_Study/senior_secondary/04.jpg" alt="">
				</div>	
										

			</div>
			
		</div>

	</div>


	<div style="clear:both"></div>
	
	
	









</div>