<div class="item" > 
	<div class="tabs">
		<ul style=" margin: 50px 0">
			<li (click)="run(1)"> <a [ngClass]="{'animated infinite bounce':one}" >CLUBS@DPSAGRA</a></li>
			<li (click)="run(2)"> <a [ngClass]="{'animated infinite bounce':two}" >FRIDAY COMPETITIONS</a></li>
			<li (click)="run(3)"> <a [ngClass]="{'animated infinite bounce':three}" >SUMMER CAMP</a></li>			
			<li (click)="run(4)"> <a [ngClass]="{'animated infinite bounce':four}" >PTMs</a></li>			
			<li (click)="run(5)"> <a [ngClass]="{'animated infinite bounce':five}" >BIRTHDAYS</a></li>			
			<li (click)="run(6)"> <a [ngClass]="{'animated infinite bounce':six}" >EDUCATIONAL TRIPS </a></li>			
			<li (click)="run(7)"> <a [ngClass]="{'animated infinite bounce':seven}" >ADVENTURE TRIP </a></li>			
			<li (click)="run(8)"> <a [ngClass]="{'animated infinite bounce':eight}" >SPORTS </a></li>			

			
			<!-- <li (click)="run(5)"> <a [ngClass]="{'animated infinite bounce':six}" >ADVENTURE TRIP</a></li>			 -->
		</ul>
	</div>	


	<div class="contentHolder" *ngIf="one">
		<div >
			<p>Clubs get a child involved in a team in school which help them learn how to work with others from an early age, and teach them important social skills. Clubs also help them in school; during the class, to participate in group work so as to develop their team building skills. </p>			
			<p>Joining clubs and having competitions with peers is a great way to make new friends, build respect and learn team work, gain self-confidence, relieve stress and learn real-world skills.</p>
			<p><b>Students may choose any one of the following Clubs:</b></p>
			<ul>
					<li>Health & Wellness Club	-	Aims at physical and mental well-being</li>
					<li>Imp@ct Club	-	Communication and Technology</li>
					<li>Awareness Club	-	Includes Current affairs, General Knowledge and heritage</li>
					<li>Math-lete Club	-	Aims at Quantitative skill development</li>
					<li>Expression Club	-	Caters to public speaking, communication and creative writing</li>
					<li>Science & Environment Club	-	Fosters scientific tenets</li>
					<li>Dance Club	- 	Provides a platform to the budding dancers</li>
					<li>Dramatics Club	- 	Helps the students express through various theater forms </li>
					<li>Vocal Music Club	- 	A club for the nightingales</li>
					<li>German Language Club	-	Aims at developing foreign language skills</li>
					<li>Sanskrit Club	-	'संस्कृत संस्कृतिस्तथा'संस्कृति के साथ संस्कृत</li>
					<li>Art & Craft Club	-	Aims at tapping the talent of young artists</li>
					<li>Still Photography Club	-	For creative clicks</li>
					<li>Gardening	- 	Nurturing Green Fingers</li>
										
			</ul>
		</div>
		<div class="img-holder">
			<div class="imgArea">
				<img src="../../../../../assets/img/home/ourInfrastructor/01" alt="">
			</div>			
			<div class="imgArea">
				<img src="../../../../../assets/img/home/ourInfrastructor/02" alt="">
			</div>			
			<div class="imgArea">
				<img src="../../../../../assets/img/home/ourInfrastructor/03" alt="">
			</div>			
			<div class="imgArea">
				<img src="../../../../../assets/img/home/ourInfrastructor/04" alt="">
			</div>	

		</div>
	</div>


	<div class="contentHolder" *ngIf="two">
		<div >
			<p>In order to provide more time to our students for co-curricular activities in the school and to help them achieve a certain level of proficiency in the discipline/ activity, the school conducts different competitions on Fridays for students. </p>
		</div>
		<div class="img-holder">
			<div class="imgArea">
				<img src="../../../../../assets/img/home/ourInfrastructor/friday_competation/01.jpg" alt="">
			</div>			
			<div class="imgArea">
				<img src="../../../../../assets/img/home/ourInfrastructor/friday_competation/02.jpg" alt="">
			</div>			
			<div class="imgArea">
				<img src="../../../../../assets/img/home/ourInfrastructor/friday_competation/03.jpg" alt="">
			</div>			
		

		</div>
	</div>

	<div class="contentHolder" *ngIf="three">
		<div >
			<p>To help our students constructively utilize their time during summer vacation, we conduct a summer camp for two weeks. The students of Grades I-VIII can join the Summer Camp for activities like Art and Craft, Swimming, Vocal Music, Instrumental Music, Dance, Reading and Writing and Games etc.</p>
		</div>

			<div class="img-holder">
			<div class="imgArea">
				<img src="../../../../../assets/img/home/ourInfrastructor/summar_camp/01.jpg" alt="">
			</div>			
			<div class="imgArea">
				<img src="../../../../../assets/img/home/ourInfrastructor/summar_camp/02.jpg" alt="">
			</div>			
			<div class="imgArea">
				<img src="../../../../../assets/img/home/ourInfrastructor/summar_camp/03.jpg" alt="">
			</div>			
	

		</div>
	</div>

	<!--school library -->
	<div class="contentHolder" *ngIf="four">
		<div >
			<p>Kids and teens perform better in school when parents get involved. Attending parent-teacher meetings is one way to be involved and help your child succeed. A parent-teacher meeting is a great opportunity to discuss the progress of the child- who is not just yours but ours too. It is also an opportunity to share the strengths and needs of the child.  </p>
		</div>
		<div class="img-holder">
			<div class="imgArea">
				<img src="../../../../../assets/img/home/ourInfrastructor/ptm/01.jpg" alt="">
			</div>			
			<div class="imgArea">
				<img src="../../../../../assets/img/home/ourInfrastructor/ptm/02.jpg" alt="">
			</div>			
			<div class="imgArea">
				<img src="../../../../../assets/img/home/ourInfrastructor/ptm/04.jpg" alt="">
			</div>			
	

		</div>
	</div>

	<!--learning disablity -->
	<div class="contentHolder" *ngIf="five">
		<div >
			<p>The school undertakes to celebrate a student’s birthday in class by offering a gift to the student and sweets to the class. 
			</p>
			<p><i>No student is permitted to bring any sweets or gifts to school.</i></p>

		</div>
		<div class="img-holder">
			<div class="imgArea">
				<img src="../../../../../assets/img/home/ourInfrastructor/birthday/01.jpg" alt="">
			</div>				
		</div>
	</div>


	<div class="contentHolder" *ngIf="six">
			<div >
				<p>D.P.S Agra aims at educating children through live experiences. Its curriculum is not confined to books and campus only. The school organizes various educational trips and excursions for the students periodically. In this series the students of different Grades visit various places and gain information.</p>
			</div>
			<div class="img-holder">
				<div class="imgArea">
					<img src="../../../../../assets/img/home/ourInfrastructor/educationTrip/01.jpg" alt="">
				</div>			
				<div class="imgArea">
					<img src="../../../../../assets/img/home/ourInfrastructor/educationTrip/02.jpg" alt="">
				</div>			
				<div class="imgArea">
					<img src="../../../../../assets/img/home/ourInfrastructor/educationTrip/03.jpg" alt="">
				</div>			
				
	
			</div>
		</div>

		<div class="contentHolder" *ngIf="seven">
				<div >
					<p>To teach the children about nature and to encourage the relationship with the outside world, we organize adventure based learning programs for our students. It also helps to explore interdependence and group dynamics.</p>
					<p><b> Programs are primarily designed for:</b></p>
					<ul>
							<li>Building Confidence and Self Worth in the students.</li>
							<li>Helping students to challenge their mindsets and fears.</li>
							<li>Building awareness of the basic teamwork and leadership.</li>
							<li>Making students aware of their innate potential and build in "I CAN" and "I WILL" attitude.</li>
							<li>Instilling basic life skills in students.</li>
							
					</ul>
				</div>
				<div class="img-holder">
					<div class="imgArea">
						<img src="../../../../../assets/img/home/ourInfrastructor/adventureTrip/01.jpg" alt="">

					</div>			
					<div class="imgArea">
							<img src="../../../../../assets/img/home/ourInfrastructor/adventureTrip/02.jpg" alt="">
					</div>			
					<div class="imgArea">
							<img src="../../../../../assets/img/home/ourInfrastructor/adventureTrip/03.jpg" alt="">
					</div>			
					
		
				</div>
			</div>



		<div class="contentHolder" *ngIf="eight">
				<div >
					<h4 style="color: #4bb4f5; text-align: left;font-weight: bold;">Infrastructurural facilities</h4>
					<ul>
						<li>  International standard eight layered synthetic surface two Tennis courts- DPS Agra has organized The National DPS Tennis Tournament Boys (Open) 2017 and  other tournaments every year.</li>
						<li>  Three Volleyball and Throw ball courts.</li>
						<li>  Two outdoor basketball courts.</li>
						<li>  200m Athletics track with Shot put, Discus throw circles and long jump pit.</li>
						<li>  Indoor badminton courts, T.T.Tables, Carom boards, Chess boards etc.</li>
						<li>  Outdoor two chess boards.</li>
						<li>  Two cemented Cricket pitch with net for all weather practice and standard Cricket ground.</li>
						<li>  Soccer and Hockey ground.</li>
						<li>  Kho-kho field.</li>
						<li> Half Olympic size swimming pool and a Toddler’s pool.</li>
						<li> Yoga halls for boys and girls separate.</li>
						<li> Jungle Gym.</li>
						<li> Squash court</li>
					</ul>

			
					<h4 style="color: #4bb4f5; text-align: left;font-weight: bold;">Sports Achievements</h4> 
					
					



				<ul>
					<li><b>Shahan Ali Mohsin IX-A</b>

						<ul>
								<li>Adjudged Driver of the year (overall) 2015.</li>
								<li>Asia Karting Champion (first and only Indian driver).</li>
								<li>Won the Asia Max Karting Championship 2016.</li>
								<li>First and the only Indian ever, to be nominated by Asian Karting Championship to take part in European final of Micro Max held in Austria.</li>
								<li>Stepped up to competing at top levels in European Karting with the Rotax European Championship, claim in his first European podium finished in Austria 2017.</li>
								<li>Competing in World Series Karting in Italy, showcasing exceptional speed in his debut year.</li>
							
						</ul>
					</li>


					<li><b>Adi Siddharth VIII & Aviral Yadav X </b>

						<ul>
								<li>World School Games Basketball Paris (France) 2017 – silver medal.</li>								
						</ul>
					</li>



					<li><b>Tejasvi Nishad VIII-D</b>

						<ul>
								<li>National Karate Championship New Delhi-2018 – silver medal.</li>
								<li>U.P. State Swimming Championship Bareilly 2018 – Bronze medal</li>
						</ul>
					</li>


					<li><b>Tushaar Kapil IX-G, Toyja Kapil VII-G, Tushar Lalwani IX-F, Ani Gupta VIII-E, Ronit Gupta V-F, Chetanya Ralle   V-A  & Dhairya Tewari VII-A</b>

						<ul>
								<li>National Rollball Championship-2015 – Gold medal</li>
								<li>CBSE East Zone Speed skating Championship-2013 – Silver medal</li>
								<li>SGFI National Rollball Competition-2018 – Gold medal</li>

						</ul>
					</li>

					<li><b>Anurag Chaudhary XII-C</b>
						<ul>
								<li>National Rollball Championship-2015 – Gold medal</li>
								<li>CBSE East Zone Speed skating Championship-2013 – Silver medal</li>
								<li>SGFI National Rollball Competition-2018 – Gold medal</li>

						</ul>
					</li>


					<li><b>Ambuja Sharma VII-B  and Vedant Garg VI</b>
						<ul>
								<li>International Yog Festival at Pokhra, Nepal 2018 – Silver medal</li>								

						</ul>
					</li>

					<li><b>Sara Prakash VII-H</b>
						<ul>
							<li>Commonwealth Chess Championship 2018 – Ranked 34th.</li>								
						</ul>
					</li>

				</ul>			
				



					
				

				</div>


				<div class="img-holder">
					<!-- <div class="imgArea">
						<img src="https://www.publicboard.ca/school/giles/Style%20Library/Images/SchoolImage.jpg" alt="">
					</div>			
					<div class="imgArea">
						<img src="https://www.publicboard.ca/school/giles/Style%20Library/Images/SchoolImage.jpg" alt="">
					</div>			
					<div class="imgArea">
						<img src="https://www.publicboard.ca/school/giles/Style%20Library/Images/SchoolImage.jpg" alt="">
					</div>			
					<div class="imgArea">
						<img src="https://www.publicboard.ca/school/giles/Style%20Library/Images/SchoolImage.jpg" alt="">
					</div>	 -->
		
				</div>
			</div>








</div>