


<label (click)="run('content30')">Why should I entrust my child to DPS Agra ?
	<span style="float: right; font-size: 1.7em; color: #000; margin-top: 9px"  [ngClass]="[content30 ? 'icon-minus' : 'icon-plus' ]"></span>	
</label>
<section *ngIf="content30">
	<div>
		<p class="fnt14">DPS Agra offers world class facilities to students, their parents and the team members. All the class rooms in the school are technology enabled classrooms with Tech boards installed in them. We follow the thematic study pattern to make the students learn through activities rather than rote learning. We maintain a very low student teacher ratio to attain a personal attention to each student.</p>
		<p class="fnt14">DPS Agra is part of the world renowned The Delhi Public School Society, East of Kailash, New Delhi which runs more than 200 schools in India and abroad. It has a proven track record ever since the inception of its first school in 1949, DPS MATHURA ROAD, followed by DPS R.K. PURAM.</p>
	</div>
</section>







<label (click)="run('content31')">What are the facilities offered at DPS Agra?
<span style="float: right; font-size: 1.7em; color: #000; margin-top: 9px"  [ngClass]="[content31 ? 'icon-minus' : 'icon-plus' ]"></span>	
</label>
<section *ngIf="content31">
	<div >
		<p class="fnt14">DPS Agra understands the need of one stop solution for all routine requirements of a school going child and that the modern day parents are busy hence the school needs to provide for most of the routine requirements of a child in the school. (Please refer to the Admission Information attached)</p>
	</div>
</section>








<label (click)="run('content32')">What is the role of the School Counsellor? 
<span style="float: right; font-size: 1.7em; color: #000; margin-top: 9px"  [ngClass]="[content32 ? 'icon-minus' : 'icon-plus' ]"></span>	
</label>
<section *ngIf="content32">
	<div >
		<p class="fnt14">The school counsellor is a specialist in child psychology and plays an important role in the overall development of children who need additional attention/care. The counsellor identifies such children and helps the teachers and parents to deal with these children effectively. You can take the counsellor's help in case you find changes in the attitudinal/behavioral pattern of your child. The counsellor can be of help in cases of hyperactive children, children with temporarily changed behaviour pattern due to bereavement/illness in the family or due to some external factor(s) etc.</p>
	</div>
</section>






<label (click)="run('content33')">What measures does the school take to make the students fluent in English?
<span style="float: right; font-size: 1.7em; color: #000; margin-top: 9px"  [ngClass]="[content33 ? 'icon-minus' : 'icon-plus' ]"></span>	
</label>

<section *ngIf="content33">
	<div >
		<p class="fnt14">Efforts are made at all times to ensure that all students start speaking in English as early as possible. At DPS Agra we recognize the socio-cultural background of our students and that is the reason why spoken English classes form a part of the routine Time Table and the School Assembly. To improve communication skills students are given every opportunity to present passages, poems, scriptures, extempore speeches, quizzes, etc in English. However, we seek active participation of the parents in this regard. We suggest that they should speak in English at home and encourage their wards to speak in English too. The child should be provided with age appropriate English books, newspapers and magazines. All students are given an English newspaper or periodical daily. This fosters good reading habit and propagates awareness building skills.</p>
	</div>
</section>






<label (click)="run('content34')">What arrangements have been made for students who want to excel or who require additional attention and support in academics? 
<span style="float: right; font-size: 1.7em; color: #000; margin-top: 9px"  [ngClass]="[content34 ? 'icon-minus' : 'icon-plus' ]"></span>	
</label>

<section *ngIf="content34">
	<div >
		<p class="fnt14">The school undertakes to provide enrichment classes, without any additional fee to train and educate students appearing for National Olympiads, National Talent Search Examination (NTSE). Remedial Classes by school staff is available for students requiring extra help in academics.</p>
	</div>
</section>






<label (click)="run('content35')">What are the transport arrangements for students?
<span style="float: right; font-size: 1.7em; color: #000; margin-top: 9px"  [ngClass]="[content35 ? 'icon-minus' : 'icon-plus' ]"></span>	
</label>
<section *ngIf="content35">
	<div >
		<p class="fnt14">The school provides air conditioned Global Positioning System (GPS) enabled CNG buses for all students to ensure pollution free and safe commuting. It is a facility provided for the parents to relieve them of daily stress. A toll free number (18001030777) is available for all parents to track the school bus at all times.</p>
	</div>
</section>






<label (click)="run('content36')">Will the school bus pick up my ward from my house gate as other school buses pass from here ?
<span style="float: right; font-size: 1.7em; color: #000; margin-top: 9px"  [ngClass]="[content36 ? 'icon-minus' : 'icon-plus' ]"></span>	
</label>
<section *ngIf="content36">
	<div >
		<p class="fnt14">No, the school bus will only stop at the designated stop points as mentioned in the prospectus. Operation of buses of other schools does not automatically mean that our bus will also operate on said route/stop points.</p>
	</div>
</section>






<label (click)="run('content37')">There is no stop point near my house/ my area is not being serviced as per your transport stop point list. What do I do? 
<span style="float: right; font-size: 1.7em; color: #000; margin-top: 9px"  [ngClass]="[content37 ? 'icon-minus' : 'icon-plus' ]"></span>	
</label>

<section *ngIf="content37">
	<div >
		<p class="fnt14">The school will try to create a stop point on receiving a request. However, please note that:</p>
		<ul class="listcontent">
			<li>No change in location of stop point is possible</li>
			<li>Additional stop points or routes will be at sole jurisdiction of school</li>
			<li>School reserves the right to alter stop point locations due to operational problem.</li>
		</ul>
	</div>
</section>







<label (click)="run('content38')">How will I come to know the pickup and ‘drop time' of my ward's stop point and bus route number?
<span style="float: right; font-size: 1.7em; color: #000; margin-top: 9px"  [ngClass]="[content38 ? 'icon-minus' : 'icon-plus' ]"></span>	
</label>

<section *ngIf="content38">
	<div >
		<p class="fnt14">The student Identity card will have the information about pick up and drop timings and bus route number. This Identity card along with Parent Identity card will be handed over to you on the day of Parent Partnership Programme.</p>
	</div>
</section>







<label (click)="run('content39')">Can I contact the bus driver on his mobile?
<span style="float: right; font-size: 1.7em; color: #000; margin-top: 9px"  [ngClass]="[content39 ? 'icon-minus' : 'icon-plus' ]"></span>	
</label>

<section *ngIf="content39">
	<div >
		<p class="fnt14">Strictly NO. All parents are advised not to disturb the bus driver and attendant over mobile phone for the sake of safety of all our children travelling in the school bus.</p>
	</div>
</section>








<label (click)="run('content40')">If I cannot contact the bus driver, how will I come to know if the bus is late or there is any other problem?
<span style="float: right; font-size: 1.7em; color: #000; margin-top: 9px"  [ngClass]="[content40 ? 'icon-minus' : 'icon-plus' ]"></span>	
</label>

<section *ngIf="content40">
	<div >
		<p class="fnt14">Please call the toll free no 18001030777 and you will know the real time location of the bus. Also, the transport In&shy;charge can be contacted over mobile no. 9718920606. You can also send an SMS (type FT [space]route no. and send it to 9611124269) and our GPS system will immediately reply back via SMS informing you the real time location of a particular bus. The location of the bus can also be tracked via web portal of our School.</p>
	</div>
</section>







<label (click)="run('content41')">What is the use of parent ID card?
<span style="float: right; font-size: 1.7em; color: #000; margin-top: 9px"  [ngClass]="[content41 ? 'icon-minus' : 'icon-plus' ]"></span>	
</label>

<section *ngIf="content41">
	<div >
		<p class="fnt14">The Parent ID card is to be produced while taking delivery of your ward at the drop point daily. This is an important safety measure for which we request and expect all parents</p>
	</div>
</section>








<label (click)="run('content42')">What if I'm not carrying a parent ID Card to the drop point?
<span style="float: right; font-size: 1.7em; color: #000; margin-top: 9px"  [ngClass]="[content42 ? 'icon-minus' : 'icon-plus' ]"></span>	
</label>

<section *ngIf="content42">
	<div >
		<p class="fnt14">In such a case the bus attendant may not hand over your child and you will have to come to school with the parent ID to collect your ward.</p>
	</div>
</section>







<label (click)="run('content43')">Can my relative/friend/employee pick up my ward from the drop point? 
<span style="float: right; font-size: 1.7em; color: #000; margin-top: 9px"  [ngClass]="[content43 ? 'icon-minus' : 'icon-plus' ]"></span>	
</label>

<section *ngIf="content43">
	<div >
		<p class="fnt14">Yes, but he/she must carry the parent ID card.</p>
	</div>
</section>







<label (click)="run('content44')">What happens If I do not reach on time at the drop point?
<span style="float: right; font-size: 1.7em; color: #000; margin-top: 9px"  [ngClass]="[content44 ? 'icon-minus' : 'icon-plus' ]"></span>	
</label>

<section *ngIf="content44">
	<div >
		<p class="fnt14">In such a case you will have to come to school to collect your ward.</p>
	</div>
</section>






<label (click)="run('content45')">What if I reach late at the pickup point in the morning?
<span style="float: right; font-size: 1.7em; color: #000; margin-top: 9px"  [ngClass]="[content45 ? 'icon-minus' : 'icon-plus' ]"></span>	
</label>

<section *ngIf="content45">
	<div >
		<p class="fnt14">The bus will not wait for your ward and will move at stipulated time.</p>
	</div>
</section>






<label (click)="run('content46')">My house is very close to the stop point. Will my ward be allowed to come to house without any escort ?
<span style="float: right; font-size: 1.7em; color: #000; margin-top: 9px"  [ngClass]="[content46 ? 'icon-minus' : 'icon-plus' ]"></span>	
</label>

<section *ngIf="content46">
	<div >
		<p class="fnt14">Not without the written approved consent from both parents.</p>
	</div>
</section>






<label (click)="run('content47')">Do I have to arrange for special costumes / props etc?

<span style="float: right; font-size: 1.7em; color: #000; margin-top: 9px"  [ngClass]="[content47 ? 'icon-minus' : 'icon-plus' ]"></span>	
</label>

<section *ngIf="content47">
	<div >
		<p class="fnt14">The school organizes an Annual Function and class-wise events on specific occasions for which costumes / props / makeup items will be arranged by the school for all the children. Thus, parents will not be hassled to rush to the market to meet the needs.</p>
	</div>
</section>






<label (click)="run('content48')">What is Parent Partnership Programme?
<span style="float: right; font-size: 1.7em; color: #000; margin-top: 9px"  [ngClass]="[content48 ? 'icon-minus' : 'icon-plus' ]"></span>	
</label>

<section *ngIf="content48">
	<div >
		<p class="fnt14">We at DPS Agra firmly believe that we are a family, with parents being an integral part of it. In order to ensure and establish a rapport with the parent community it is very important to share the vision and mission of DPS Agra. The purpose of Parent Partnership Programme is two fold:</p>
		<ul class="listcontent">
			<li>Firstly, to introduce you to the school's work culture, environment, staff, school rules and systems</li>
			<li>Secondly, to introduce you to other parents of your ward's peers.</li>
		</ul>
	</div>
</section>






<label (click)="run('content49')">What about educational trips?
<span style="float: right; font-size: 1.7em; color: #000; margin-top: 9px"  [ngClass]="[content49 ? 'icon-minus' : 'icon-plus' ]"></span>	
</label>

<section *ngIf="content49">
	<div >
		<p class="fnt14">The school organizes trips for each class to important places in the National Capital Region. No extra payment is required to be made for these trips by the parents.</p>
	</div>
</section>






<label (click)="run('content50')">Can I send sweets/gifts on my child's birthday for his classmates/teachers?
<span style="float: right; font-size: 1.7em; color: #000; margin-top: 9px"  [ngClass]="[content50 ? 'icon-minus' : 'icon-plus' ]"></span>	
</label>

<section *ngIf="content50">
	<div >
		<p class="fnt14">No. This is not permitted. The school provides sweets and gifts for the birthday of your ward.</p>
	</div>
</section>






<label (click)="run('content51')">Can one send sweets/gifts to teachers/Principal on Teachers day or on any other day of significance or importance? </label>
<span style="float: right; font-size: 1.7em; color: #000; margin-top: 9px"  [ngClass]="[content51 ? 'icon-minus' : 'icon-plus' ]"></span>	
<section *ngIf="content51">
	<div >
		<p class="fnt14">Strictly No.</p>
	</div>
</section>


<label (click)="run('content52')">How do I get in touch with the school teachers?
<span style="float: right; font-size: 1.7em; color: #000; margin-top: 9px"  [ngClass]="[content52 ? 'icon-minus' : 'icon-plus' ]"></span>	
</label>

<section *ngIf="content52">
	<div >
		<p class="fnt14">You can meet the teachers between 8:00 a.m. to 9:00 a.m. on any working Saturday with prior appointment. You can communicate through school almanac. You can call up PCE to fix up your appointment.</p>
	</div>
</section>


<label (click)="run('content53')">Are latecomers allowed to attend classes?
<span style="float: right; font-size: 1.7em; color: #000; margin-top: 9px"  [ngClass]="[content53 ? 'icon-minus' : 'icon-plus' ]"></span>	
</label>

<section *ngIf="content53">
	<div >
		<p class="fnt14">No. The regulations regarding latecomers and absentees are given in the Almanac.</p>
	</div>
</section>


<label (click)="run('content54')">Is my child allowed to leave the school premises during school hours?
<span style="float: right; font-size: 1.7em; color: #000; margin-top: 9px"  [ngClass]="[content54 ? 'icon-minus' : 'icon-plus' ]"></span>	
</label>

<section *ngIf="content54">
	<div >
		<p class="fnt14">Only under an emergency or in exceptional cases. For availing leave during the school hours, a prior application has to be submitted. The child can leave the school after obtaining a gate pass duly signed by the authorized signatory of the school and should be escorted by a Parent ID Card holder.</p>
	</div>
</section>


<label (click)="run('content55')">How do I recover my child's belongings?
<span style="float: right; font-size: 1.7em; color: #000; margin-top: 9px"  [ngClass]="[content55 ? 'icon-minus' : 'icon-plus' ]"></span>	
</label>

<section *ngIf="content55">
	<div >
		<p class="fnt14">'Prevention is better than cure'. The name, class, section and enrolment number must be clearly marked on all belongings of your child. If in case an item is misplaced please contact the Parent Care Executive. However, the school does not take any responsibility in this regard.</p>
	</div>
</section>




<label (click)="run('content56')">Where can I find information related to academic and non academic activities like school calendar, uniform, code of conduct etc?</label>
<span style="float: right; font-size: 1.7em; color: #000; margin-top: 9px"  [ngClass]="[content56 ? 'icon-minus' : 'icon-plus' ]"></span>	
<section *ngIf="content56">
	<div >
		<p class="fnt14">The School Almanac contains information with respect to the above mentioned query in addition to many more such queries.</p>
	</div>
</section>


<label (click)="run('content57')">What do I do if my child has to take leave for a few days?
<span style="float: right; font-size: 1.7em; color: #000; margin-top: 9px"  [ngClass]="[content57 ? 'icon-minus' : 'icon-plus' ]"></span>	
</label>

<section *ngIf="content57">
	<div >
		<p class="fnt14">If the period of leave required is less than three days then the class teacher can be informed through a written note in the Almanac. Leave for over three days should be requested through an application sent to the class teacher along with necessary documents (In case the child is sick or goes outstation etc).</p>
	</div>
</section>


<label (click)="run('content58')">What if I want my child to take only half day leave?
<span style="float: right; font-size: 1.7em; color: #000; margin-top: 9px"  [ngClass]="[content58 ? 'icon-minus' : 'icon-plus' ]"></span>	
</label>

<section *ngIf="content58">
	<div >
		<p class="fnt14">No. This is not permitted at all.</p>
	</div>
</section>


<label (click)="run('content59')">What happens if my child misses a weekly, monthly or a unit test and even a semester examination?
<span style="float: right; font-size: 1.7em; color: #000; margin-top: 9px"  [ngClass]="[content59 ? 'icon-minus' : 'icon-plus' ]"></span>	
</label>

<section *ngIf="content59">
	<div >
		<p class="fnt14">Re-tests are not conducted at all in the school for absentees or failures. However, promotion is based on overall performance through out the year.</p>
	</div>
</section>


<label (click)="run('content60')">When can I meet the Principal?
<span style="float: right; font-size: 1.7em; color: #000; margin-top: 9px"  [ngClass]="[content60 ? 'icon-minus' : 'icon-plus' ]"></span>	
</label>

<section *ngIf="content60">
	<div >
		<p class="fnt14">You can meet the Principal with prior appointment on any working day between 8:00 a.m. to 9:00 a.m.</p>
	</div>
</section>


<label (click)="run('content61')">What steps are taken to ensure better attention to my child in the class?

<span style="float: right; font-size: 1.7em; color: #000; margin-top: 9px"  [ngClass]="[content61 ? 'icon-minus' : 'icon-plus' ]"></span>	
</label>

<section *ngIf="content61">
	<div >
		<p class="fnt14">DPS Agra operates on a very low student -teacher ratio. The school tries to restrict its student strength in each section to ensure each child is given due and proper attention.</p>
	</div>
</section>


<label (click)="run('content62')">What if my child falls sick during school hours?
<span style="float: right; font-size: 1.7em; color: #000; margin-top: 9px"  [ngClass]="[content62 ? 'icon-minus' : 'icon-plus' ]"></span>	
</label>

<section *ngIf="content62">
	<div >
		<p class="fnt14">If your child falls sick during school hours, there is a qualified doctor and a trained nurse to take care of your child. If the school doctor advises to send the child home then the school reception will inform you. You can escort your child home after obtaining a gate-pass duly signed by the authorised signatory of the school.</p>
	</div>
</section>


<label (click)="run('content63')">What steps are taken by school to reduce the load of the bag carried by the student? </label>
<span style="float: right; font-size: 1.7em; color: #000; margin-top: 9px"  [ngClass]="[content63 ? 'icon-minus' : 'icon-plus' ]"></span>	

<section *ngIf="content63">
	<div >
		<p class="fnt14">We have separate lockers for each student. They can keep all additional books in their lockers instead of bringing them to school everyday and carrying them back. Nursery and Prep students will keep their books and notebooks in the lockers.</p>
	</div>
</section>


<label (click)="run('content64')">Is there any concession in fee for the siblings? </label>
<span style="float: right; font-size: 1.7em; color: #000; margin-top: 9px"  [ngClass]="[content64 ? 'icon-minus' : 'icon-plus' ]"></span>	
<section *ngIf="content64">
	<div >
		<p class="fnt14">No, there is no such provision.</p>
	</div>
</section>


<label (click)="run('content65')">What is the student strength in each section of a class?</label>
<span style="float: right; font-size: 1.7em; color: #000; margin-top: 9px"  [ngClass]="[content65 ? 'icon-minus' : 'icon-plus' ]"></span>	
<section *ngIf="content65" >
	<div >
		<p class="fnt14">Every section of a class may have maximum of 40 students except for Nursery and Prep where we have 30 &amp; 36 students respectively.</p>
	</div>
</section>


<label (click)="run('content66')">Is the school timing same during summer and winter?</label>
<span style="float: right; font-size: 1.7em; color: #000; margin-top: 9px"  [ngClass]="[content66 ? 'icon-minus' : 'icon-plus' ]"></span>	
<section *ngIf="content66">
	<div >
		<p class="fnt14">In winters the school arrival timings are delayed by 45 minutes, with respect to the summer timings.</p>
	</div>
</section>


<label (click)="run('content67')">Which is the foreign language taught and from which class?</label>
<span style="float: right; font-size: 1.7em; color: #000; margin-top: 9px"  [ngClass]="[content67 ? 'icon-minus' : 'icon-plus' ]"></span>	
<section *ngIf="content67">
	<div >
		<p class="fnt14">French is introduced in grade IV and taught formally from grade VI onwards.</p>
	</div>
</section>


<label (click)="run('content68')">Do you have Scholarship Scheme for students ?</label>
<span style="float: right; font-size: 1.7em; color: #000; margin-top: 9px"  [ngClass]="[content68 ? 'icon-minus' : 'icon-plus' ]"></span>	
<section *ngIf="content68">
	<div >
		<p class="fnt14">Yes, we do have Scholarship Scheme for meritorious students of grades XI &amp; XII.</p>
	</div>
</section>

